* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  font-family: 'PingFang SC', 'microsoft yahei', 'Source Sans Pro', 'Helvetica Neue', Helvetica, STHeitiSC-Light, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: .8em;
  font-weight: 400;
  height: 100%;
}

body {
  margin: 0;
  background: #000;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block
}

::-webkit-input-placeholder {
  color: #333
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #333
}

a:active,
a:hover {
  outline: 0;
  color: #00bcd4
}

a:focus {
  outline: 0
}

.cards,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.row:after,
.row:before,
.container-md:before,
.container-md:after {
  display: table;
  content: " "
}

.clearfix:after,
.container-fluid:after,
.container:after,
.container-md:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.row:after {
  clear: both
}

.releative {
  position: relative;
  ;
}

.list-style.none {
  list-style: none;
  padding: 0;
  margin: 0
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto
}

.center-block {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.mask-full {
  position: absolute;
  background: rgba(0, 0, 0, .1);
  width: 100%;
  height: 100%;
  z-index: 888
}

.pull-right {
  float: right!important
}

.pull-left {
  float: left!important
}

.hide {
  display: none!important
}

.show {
  display: block!important
}

.invisible {
  visibility: hidden
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0
}

.hidden {
  display: none!important;
  visibility: hidden!important
}

.affix {
  position: fixed
}

.font-bold {
  font-weight: 700
}

.font-normal {
  font-weight: 400
}

.font-sm {
  font-size: .8em
}

.text-center {
  text-align: center!important
}

.text-left {
  text-align: left!important
}

.text-right {
  text-align: right!important
}

.text-info {
  color: #10a0de
}

.text-dark {
  color: #9e9e9e
}

.text-primary {
  color: #0e98dc
}

.text-white {
  color: #fff
}

.text-muted {
  color: #666;
}

.text-green {
  color: #7bcc3a
}

.text-blue {
  color: #10a0de
}

.text-orange {
  color: #ff8a00
}

.text-yellow {
  color: #ffd162
}

.text-red {
  color: #f74b4b
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto
}

.img-half {
  width: 50%
}

.cards {
  background: #fff;
  width: 100%
}

.cards-box {
  border: 1px solid #eee
}

.blk-10x,
.blk-1x,
.blk-2x,
.blk-3x,
.blk-4x,
.blk-5x,
.blk-6x,
.blk-7x,
.blk-8x,
.blk-9x {
  clear: both;
  overflow: hidden;
}

.blk-1x {
  height: 10px
}

.blk-2x {
  height: 20px
}

.blk-3x {
  height: 30px
}

.blk-4x {
  height: 40px
}

.blk-5x {
  height: 50px
}

.blk-6x {
  height: 60px
}

.blk-7x {
  height: 70px
}

.blk-8x {
  height: 80px
}

.blk-9x {
  height: 90px
}

.blk-10x {
  height: 100px
}

.offset-s {
  margin-left: 5px
}

.offset-1x {
  margin-left: 10px
}

.offset-1xx {
  margin-left: 15px
}

.offset-2x {
  margin-left: 20px
}

.offset-2xx {
  margin-left: 25px
}

.offset-3x {
  margin-left: 30px
}

.offset-3xx {
  margin-left: 35px
}

.offset-4x {
  margin-left: 40px
}

.offset-4xx {
  margin-left: 45px
}

.offset-5x {
  margin-left: 50px
}

.offset-5xx {
  margin-left: 55px
}

.well-sm {
  width: 400px;
  margin: auto
}

.row {
  margin: 0 -10px
}

.row-1x {
  margin: 0 -5px
}

.row-2x {
  margin: 0 -10px
}

.row-3x {
  margin: 0 -15px
}

.row-4x {
  margin: 0 -20px
}

.row-5x {
  margin: 0 -25px
}

.row-6x {
  margin: 0 -30px
}

.group-span-xs>span {
  margin: 0 2px
}

.group-span-1x>span {
  margin: 0 5px
}

.group-span-2x>span {
  margin: 0 10px
}

.group-span-3x>span {
  margin: 0 15px
}

.group-span-4x>span {
  margin: 0 20px
}

.group-span-5x>span {
  margin: 0 25px
}

.group-span-5x>span {
  margin: 0 30px
}

[class*=group-span-] span,
[class^=group-span-] span {
  display: inline-block;
  white-space: nowrap;
  float: left;
}

.justified2-2 li {
  width: 50%
}

.justified3-3 li {
  width: 33.333%
}

.justified4-4 li {
  width: 25%
}

.justified5-5 li {
  width: 20%
}

.justified6-6 li {
  width: 16.6666%
}

.justified2-2,
.justified3-3,
.justified4-4,
.justified5-5,
.justified6-6 {
  padding: 0;
  margin: 0
}

.justified2-2 li,
.justified3-3 li,
.justified4-4 li,
.justified5-5 li,
.justified6-6 li {
  position: relative;
  float: left;
  list-style: none
}

.clear {
  clear: both
}

.font-normal {
  font-style: normal
}

.relative {
  position: relative
}

.inline-block {
  display: inline-block
}

.block-table {
  display: table;
  width: 100%;
  height: 100%
}

.block-table-cell {
  display: table-cell;
  width: 100%;
  height: 100%
}

.divider {
  border-bottom-width: 1px;
  border-bottom-color: #eee;
  height: 1px;
  overflow: hidden;
  clear: both
}

.divider.solid {
  border-bottom-style: solid
}

.divider.dashed {
  border-bottom-style: dashed
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  overflow: hidden;
}

.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
  float: left
}

.col-md-12 {
  width: 100%
}

.col-md-11 {
  width: 91.66666667%
}

.col-md-10 {
  width: 83.33333333%
}

.col-md-9 {
  width: 75%
}

.col-md-8 {
  width: 66.66666667%
}

.col-md-7 {
  width: 58.33333333%
}

.col-md-6 {
  width: 50%
}

.col-md-5 {
  width: 41.66666667%
}

.col-md-4 {
  width: 33.33333333%
}

.col-md-3 {
  width: 25%
}

.col-md-2 {
  width: 16.66666667%
}

.col-md-1 {
  width: 8.33333333%
}

.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
  float: left;
  padding: 0;
}

.well-box .pull-well {
  float: left
}

.well-box .well {
  overflow: hidden!important
}

.bg-white {
  background: #fff;
}

.heading {
  position: relative;
}

.heading h4 {}

.icon.heading {}

.icon.heading .icon {
  position: relative;
  top: 1px;
  padding-right: 5px;
}

.iconbox {}

.iconbox .content-box {}

.iconbox .pull-content {
  float: left;
  padding-right: 20px;
}

.iconbox .content {
  display: table;
}

.iconbox .icon {
  font-size: 5em;
  font-style: normal;
}

.iconbox .text-sm {
  font-size: 1em;
}

.iconbox .text-lg {
  font-size: 3em;
  color:
}

body {
  padding: 20px;
  color: #666;
}

.grid-cell {
  border: 1px solid #111;
  padding: 10px;
}

.grid-cell.chart {
  min-height: 260px;
}

caption {
  text-align: left;
  height: 30px;
}

table {
  width: 100%;
  word-spacing: 0;
  border-spacing: 0;
}

table tr>th {
  text-align: left;
  font-size: 12px;
  border-width: 2px !important;
}

table tr>th,
table tr>td {
  padding: 10px;
  border-bottom: 1px solid #111;
}

table tr>td {
  color: #7bcc3a
}

table tr>td>a {
  color: #7bcc3a
}

.form-control {
  background: #000;
  padding: 8px 14px;
  width: 100%;
  border: 2px solid #333;
  color: #555;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  border: 2px solid #7bcc3a
}
